<% content_for :title, "New company" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">New company</h1>

      <%= render "form", company: @company %>
    </div>
  </div>
</div>
